// variable
@use "sass:color";
$colorPrimary: #9d3f52;
$colorSecondary: #3d7d83;
$colorTertiary: #d7b46a;

$colorPrimaryLight: color.adjust($colorPrimary, $lightness: 33%);
$colorTertiarydark: color.adjust($colorTertiary, $lightness: -50%);
$color1: black;
$color1light: color.adjust($color1, $lightness: 20%);
$color2: #fff;
$color3: #f2f2f2;
$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;
$cBgGray: #f7f2ea;
$cWineRed: #904669;
$contentMaxWidth: 1070px;
$navHeight: 80px;
